<p>Bienvenido al Sistema de Gestión del Usuario <%= @email %>!</p>

<p>Puedes confirmar tu cuenta haciendo click en el link:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
