<p>Hola <%= @resource.email %>!</p>

<p>Has solicitado un link para cambiar tu contraseña. Puedes hacerlo haciendo click en el link que está abajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste un camio de contraseña, por favor ignora este mensaje.</p>
<p>Tu contraseña no será modificada hasta que hagas click en el link y crees una contraseña nueva.</p>
