h2 = "Necesitamos su opinión sobre #{@product.name.capitalize}"

p = "Estimado #{@contact.name}, lo invitamos a responder nuestra encuesta sobre el producto #{@product.name}, #{@product.description}"

p Para responder, por favor acceda al siguiente enlace

= link_to @url, @url